*,
*::before,
*::after {
  background: darksalmon;
}

body {
  margin: 0;
  padding: 24px;
  font-size: 20px;
  color: #fff;
  font-size: 20px;
  font-family: monospace;
}

hr {
  background: #fff;
  opacity: 0.5;
  border: 1px solid;
}
